<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- css -->
     <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <marquee>
        <h1>Olá Mundo, em Spoink!</h1>
    </marquee>
    <hr>
    <div class="imagem">
        <figure>
            <img src="img/spoink.png" alt="pokemon Spoink">
        </figure>
    </div>
    <script src="js/script.js"></script>
</body>
</html>